<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shreya.c0777726_w2020_mad3125_fp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.ShowBillDetailActivity"></activity>
        <activity android:name=".Activity.AddNewCustomerActivity" />
        <activity android:name=".Activity.AddNewBillActivity" />
        <activity android:name=".Adapter.CustomerAdapter" />
        <activity android:name=".Adapter.BillAdapter" />
        <activity android:name=".Activity.CustomerListActivity" />
        <activity android:name=".Activity.DetailedBillActivity" />
        <activity android:name=".Activity.LoginActivity" />
        <activity android:name=".Activity.SplashActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>